<!DOCTYPE html>
<html>
<head>
  <title>Ordnung</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ordnung">
  <meta name="author" content="kkaempf@gmail.com">
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'bootstrap-theme' %>
  <%= stylesheet_link_tag 'ordnung' %>
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= javascript_include_tag :bootstrap %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ordnung</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/dashboard/home">Browse</a></li>
          <li><a href="/directory">Import</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="col-md-10 col-lg-10" id="ordnung_middle">
      <div class="row">
        <span class="dashboard_header">Dashboard</span>
        <span class="navigation_glyphs">
          <span class="glyphicon glyphicon-step-backward page_glyph" id="page_first"></span>
          <span class="glyphicon glyphicon-chevron-left page_glyph" id="page_previous"></span>
          <span class="glyphicon glyphicon-chevron-right page_glyph" id="page_next"></span>
          <span class="glyphicon glyphicon-step-forward page_glyph" id="page_last"></span>
          <span class="glyph_separator"> </span>
          <span class="glyphicon glyphicon-zoom-in zoom_glyph" id="zoom_in"></span>
          <span class="glyphicon glyphicon-zoom-out zoom_glyph" id="zoom_out"></span>
        </span>
      </div>
      <div id="dashboard_content"></div>
    </div>
    <div class="col-md-2 col-lg-2">
      <div class="row">
        <span class="tags_header">Tags</span>
        <span class="navigation_glyphs">
          <div class="glyphicon glyphicon-filter tag_glyph" id="tag_filter"></div>
          <div class="glyphicon glyphicon-edit tag_glyph" id="tag_edit"></div>
          <div class="glyphicon glyphicon-trash tag_glyph" id="tag_remove"></div>
        </span>
      </div>
      <div id="tags_content"></div>
    </div>
  </div>
</body>
</html>
