<!DOCTYPE html>
<html>
<head>
  <title>Ordnung</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ordnung">
  <meta name="author" content="kkaempf@gmail.com">
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'bootstrap-theme' %>
  <%= stylesheet_link_tag 'ordnung' %>
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= javascript_include_tag :bootstrap %>
  <%= csrf_meta_tag %>
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">Ordnung</a>
     </div>
     <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
         <li class="active"><a href="/dashboard/home">Browse</a></li>
         <li><a href="/items/new">Import</a></li>
       </ul>
     </div><!--/.navbar-collapse -->
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-10 ordnung_middle">
        <h2>Middle</h2>
        <%= yield %>
      </div>
      <div class="col-md-2 ordnung_right">
        <h2>Tags</h2>
      </div>
    </div>
    <%= yield :javascript %>
  </body>
</html>
