<!DOCTYPE html>
<html>
<head>
  <title>Ordnung</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ordnung">
  <meta name="author" content="kkaempf@gmail.com">
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'bootstrap-theme' %>
  <%= stylesheet_link_tag 'ordnung' %>
  <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
  <%= javascript_include_tag :bootstrap %>
  <%= csrf_meta_tag %>
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Ordnung</a>
     </div>
     <div class="navbar-collapse collapse">
       <form class="navbar-form navbar-right" role="form">
         <div class="form-group">
           <input type="text" placeholder="Email" class="form-control">
         </div>
         <div class="form-group">
           <input type="password" placeholder="Password" class="form-control">
         </div>
         <button type="submit" class="btn btn-success">Sign in</button>
       </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-2 ordnung_left">
        <h2>Left</h2>
                                  <p>Donec id elit non mi porta
gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
mauris condimentum nibh, ut fermentum massa justo sit amet risus.
Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      </div>
      <div class="col-md-8 ordnung_middle">
        <h2>Middle</h2>
        <%= yield %>
      </div>
      <div class="col-md-2 ordnung_right">
        <h2>Right</h2>
                                   <p>Donec sed odio dui. Cras justo
odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo,
tortor mauris condimentum nibh, ut fermentum massa justo sit amet
risus.</p>
      </div>
    </div>
    <%= yield :javascript %>
  </body>
</html>
